﻿@model Rokolabs.Library.Data.Newspaper

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Newspaper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingOfficeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishingOfficeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublishing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublishing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
