﻿@model Rokolabs.Library.Data.Book

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ScienceLibrary</h1>
    <p>Search books, patents and newspapers</p>

    <form asp-controller="Book" asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Title" class="form-control" placeholder="Search book"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
            @Html.HiddenFor(model => model.Title)
        </div>
    </form>

</div>


