﻿@model Rokolabs.Library.Data.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this book?</h3>
<div>
    <h4>Book Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingOfficeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingOfficeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorsInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublishing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublishing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PagesCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
        @Html.HiddenFor(model => model.BookId)
    </form>
</div>
