﻿@model IEnumerable<Rokolabs.Library.Data.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>Books in library</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Book" asp-action="Index">
    <p class="searching-box">
        Title: <input type="text" name="Title"  style="width: 50%"/>
        Authors: <select class="js-example-basic-multiple" name="authors[]" id="authors" style="width: 25%" multiple="multiple">
                  <option value="AL">Author</option>
                  <option value="WY">Example</option>
                </select>
        <input type="submit" value="Search" />
    </p>
</form>

@*<p>Authors:</p>
<div><select class="js-example-basic-multiple" name="authors[]" id="authors" style="width: 50%" multiple="multiple">
  <option value="AL">Author</option>
  <option value="WY">Example</option>
</select>
<input type="submit" value="Search" />
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagesCount)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Details", "Details", item) |
                @Html.ActionLink("Delete", "Delete", item)
            </td>
        </tr>
        }
    </tbody>
</table>



@section Scripts {
    @{await Html.RenderPartialAsync("Select2ScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $('#authors').select2({
            ajax: {
                url: 'https://localhost:5001/author/get',
                data: function (params) {
                    var query = {
                        search: params.term,
                        type: 'public'
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    });
</script>